.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border-radius: 15px;
  background: #52505012;
  margin: 10 auto;
  justify-content: center;
  width: 90%;
}

.card {
  width: 350px;
  height: 350px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Ajustez cette valeur selon la hauteur du dégradé souhaitée */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  padding: 10px;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 600px) {
  .card {
    margin: 10px;
  }
  .card-container {
    background-color: white;
    margin: 5%;
  }
}
@media screen and (min-width: 1374px) {
  .card {
    margin: 30px;
  }
}
@media screen and (min-width: 1307px) {
  .card {
    margin: 20px;
  }
}
