.navcontainer {
  align-items: center; /* Ajout de l'alignement vertical au centre */
  display: flex;
  justify-content: space-between;
  margin: 20px 3%;
}

.new-page a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin: 20px;
}
.new-page a:hover {
  text-decoration: underline;
}
.new-page a:hover,
.new-page a:active,
.new-page a:focus {
  text-decoration: underline;
}

.logo-kasa {
  margin: 20px;
}
